body {margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}

h1 {margin: 0;
font-family: 'Sacramento', cursive;}

h2 {font-family: 'Montserrat', sans-serif;}

h3{font-family: 'Montserrat', sans-serif;
color: #461111;}

.firstcontainer {background-color: #F2FFE9;
  position: relative;
  padding:100px;}

.middle-container {background-color: #FBF8F1;
  position: relative;
  padding:100px;
}

.intro {font-family: 'Courgette', cursive;
color: #39375B;}

.contact-me {background-color: #FBF4F9;
  position: relative;
padding:100px;}

.skills {background-color: #EF7ECDE;
  position: relative;
  padding:100px;}

.profile {}


#profile-pic {width: 400px;
padding: 10px;}

.top-cloud {position: relative;
left: 200px;}

.button-cloud {position: absolute;}
